@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(225deg, rgba(102, 205, 170, 0.7), rgba(255, 183, 147, 0.6)), url("./assets/school-bus.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
}

.container .formBox {
  width: 100%;
}

.container .formBox h2 {
  color: #66cdaa;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: 2px solid #ffb793;
}

.container .formBox p {
  font-size: 15px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
}

.container .formBox .input {
  margin-bottom: 5px;
}

.container .formBox .input label {
  font-size: 15px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
}

.container .formBox .input input {
  width: 100%;
  padding: 5px 15px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  letter-spacing: 1px;
  color: #607d8b;
}

.container .formBox .input select {
  padding: 8px 12px;
  color: #607d8b;
  background-color: #fff;
  border: 1px solid #607d8b;
  border-radius: 5px;
}

.container .formBox .input textarea {
  color: #607d8b;
  border: 2px solid #607d8b;
  padding: 1em;
  outline: none;
  width: 100%;
  border-radius: 10px;
}

.container .formBox .radioDiv .radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 10px;
  color: #607d8b;
}

.container .formBox .radioDiv .radio__input {
  margin-right: 10px;
}

.container .formBox .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .formBox .check .check-item label {
  font-size: 15px;
  margin-bottom: 5px;
  color: #607d8b;
  font-weight: 300;
}

.container .formBox .check .check-item input {
  margin-right: 5px;
}

.container .formBox .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .formBox .btn-container .button {
  background-color: white;
  color: #66cccc;
  padding: 10px 20px;
  border: 2px solid #66cccc;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.container .formBox .btn-container .button:hover {
  color: #fff;
  background-color: #66cccc;
}

.container .contentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */